.hero {
    margin-top: 90px;
    padding-bottom: 90px;
  }
  
  .hero__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 170px;
  }
  
  .hero__content {
    max-width: 500px;
  }
  
  .hero__subtitle {
    font-size: 12px;
    letter-spacing: 4px;
    color: var(--gray);
    margin-bottom: 16px;
  }
  
  .hero__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  
  .hero__title span {
    color: #1664EA;
  }
  
  .hero__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .hero__socials {
    display: flex;
    align-items: center;
    gap: 18px; 
    margin-top: 30px; 
}



.hero__socials-links {
    display: flex;
    align-items: center;
    gap: 14px;
}

  .hero__socials-title {
    font-family: "Inter" ;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 7px;
    margin-right: 10px;
    text-transform: none;

}

  

  .hero__socials-links a img {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;

  }
  
  
  .hero__img-wrapper {
    position: relative;
    width: 390px;
    margin-right: 60px;
  }
  
  .hero__img {
    width: 100%;
    border-radius: 28px;
  }
  .hero__scroll {
    position: absolute;
    right: -60px; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.hero__scroll-line {
    width: 2px;
    height: 110px; 
    background-color: #D9D9D9;
}

.hero__scroll-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 12px;
    letter-spacing: 3px;
    color: #B9B9B9;
    text-transform: lowercase;
    user-select: none;
}