.skills {
    background-color: #FFDA74;
    padding: 140px 0;
  }
  

  .skills__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .skills__header {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .skills__title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 120%;
    color: #000;
    margin-bottom: 16px;
  }
  
  .skills__subtitle {
    font-family: "Inter";
    font-weight: 430;
    font-style: Regular;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    
  }
  
  
  .skills__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 120px;
  }
  

  .skills__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    max-width: 400px;
  }
  
  .skills__tag {
    background: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
  }
  

  .skills__right {
    flex: 1;
  }
  
  .skills__subtitle-right {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
    color: #000;
  }
  
  .skill-line {
    margin-bottom: 30px;
  }
  
  .skill-line__name {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
    color: #000;
  }
  
  .skill-line__bar {
    background: rgb(255, 255, 255);
    border-radius: 6px;
    height: 8px;
    width: 100%;
    overflow: hidden;
  }
  
  .skill-line__fill {
    height: 100%;
    background: #000;
    border-radius: 6px;
    transition: width 0.4s ease;
  }